language: go
sudo: false
addons:
  apt:
    packages:
      - liblzo2-dev
before_script:
  - go get golang.org/x/tools/cmd/cover
  - go get golang.org/x/tools/cmd/vet
script: go vet ./... && go test -race -bench=. -cover ./...
